<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Steel Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <link href="/www/public/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="app-wrapper">
    {{template "header"}}
    <div role="main" class="app-main">
        {{template "navleft"}}
        <div class="app-main__outer">
            <div class="app-main__inner">
                {{template "home"}}
            </div>
            {{template "footer"}}
        </div>
    </div>
</div>
</body>
</html>