{{define "delivery"}}
{{template "beforeContent"}}

<div class="card">
    <div class="card-header">
        <div class="title">My  Deliveries</div>
    </div>
    <div class="card-body">
        <table class="mb-0 table table-hover">
            <thead>
                <tr class="table-active">
                    <th width="25%">Auction ID</th>
                    <th width="15%">Auction Creator</ht>
                    <th width="10%">Winner</th>
                    <th width="20%">Address</th>
                    <th width="15">Last Update</th>
                    <th width="10">Status</th>
                    <th width="5"></th>
                </tr>
            </thead>
            {{$auctionID := .AuctionID}}
            {{range .Deliveries}}
                <tr
                    {{if eq $auctionID .AuctionID}}
                        class="border border-success" style="border-width:10px !important"
                    {{end}}
                    {{if eq .Status 0}}
                        class="table-secondary"
                    {{else if eq .Status 1}}
                        class="table-primary"
                    {{else if eq .Status 2}}
                        class="table-success"
                    {{else if eq .Status 3}}
                        class="table-danger"
                    {{end}}
                >
                    <th>{{.AuctionID}}</th>
                    <th>{{.Creator}}</th>
                    <th>{{.DestinyOrg}}</th>
                    <th>
                        <address>
                            {{.Address.Street}} {{.Address.Number}},<br>
                            {{.Address.City}}, {{.Address.Country}}
                        </address>
                    </th>
                    <th>
                        {{parseTime .Updated}}
                        <a title="See history" href="/delivery/history?auctionID={{.AuctionID}}">
                            <button class="btn btn-info">
                                <i class="fas fa-history"></i>
                            </button>
                        </a>
                    </th>
                    <th>{{.Status.ToString}}</th>
                    <th>
                        {{if eq orgType "logistics"}}
                            {{if eq .Status 0}}
                                <a href="/delivery/updateStatus?supplier={{.Creator}}&buyer={{.DestinyOrg}}&toStatus=1&auctionID={{.AuctionID}}">
                                    <button class="btn btn-info">Put On Delivery</button>
                                </a>
                            {{else if eq .Status 1}}
                                <a href="/delivery/updateStatus?supplier={{.Creator}}&buyer={{.DestinyOrg}}toStatus=2&auctionID={{.AuctionID}}">
                                    <button class="btn btn-primary">Set as Delivered</button>
                                </a>
                                <a href="/delivery/updateStatus?supplier={{.Creator}}&buyer={{.DestinyOrg}}toStatus=3&auctionID={{.AuctionID}}">
                                    <button class="btn btn-danger">Set as Failed</button>
                                </a>
                            {{end}}
                        {{end}}
                    </th>
                </tr>
            {{end}}
        </table>
    </div>
</div>

{{template "afterContent"}}
{{end}}