{{define "home"}}
{{template "beforeContent"}}

<div class="title">Your Steel Platform</div>

<div class="card-columns">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h5 class="card-title">My network</h5>
            <h6 class="card-subtitle mb-2 text-muted">Channels and contracts</h6>
            <p class="card-text">Check the channels and contracts available on your network</p>
            <a href="/networkInfo" class="stretched-link">Go</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body text-center">
            <h5 class="card-title">My auctions</h5>
            <h6 class="card-subtitle mb-2 text-muted">List of auctions</h6>
            <p class="card-text">Check the auctions available in your network</p>
            <a href="/auctions" class="stretched-link">Go to list</a>
            <a href="/auctions/create" class="stretched-link">Create an auction</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body text-center">
            <h5 class="card-title">My deliveries</h5>
            <h6 class="card-subtitle mb-2 text-muted">List of current deliveries</h6>
            <p class="card-text">Check your current deliveries in process of deliver</p>
            <a href="/delivery/list" class="stretched-link">Go</a>
        </div>
    </div>
</div>

{{template "afterContent"}}
{{end}}