{{define "networkInfo"}}
{{template "beforeContent"}}

<div class="title">Your Networks</div>

<div class="row justify-content-md-center">
{{$networkContracts := .NetworkContracts}}
{{range $network := .SortedNetworks}}
    {{$contract := index $networkContracts (stringToNetwork $network)}}
    <div class="card col col-sm-6">
        <div class="card text-center">
            <div class="card-header">
                {{$network}}
            </div>
            <div class="card-body">
                <h5 class="card-title">Your available contracts</h5>
                <p style="color: rgb(59, 0, 25);font-weight: bolder;border-style:dotted;">{{$contract.Name}}</p>
                {{if eq $contract.Name "auction"}}
                <a href="/auctions/list?channel={{$network}}" class="btn btn-primary">
                    Go to auctions
                </a>
                {{else}}
                <a href="/delivery/list?channel={{$network}}" class="btn btn-info">
                    Go to Orders
                </a>
                {{end}}
            </div>
        </div>
    </div>
{{end}}
</div>
{{template "afterContent"}}
{{end}}