{{define "header"}}
<header class="c-header">
    <div class="c-header__topbar">
    </div>
    <div class="c-header__main">
        <button class="toggleSidenav--mobile">
        </button>
        <div class="c-header__brand">
            <a href="/home" class=""><img width="120" src="/images/reymom.png" alt=""></a>
        </div>
        <div class="c-header__navTools">
            <div class="c-navToolItem--is-active c-navToolItem--profile  btn-group">
                <a class="c-navToolItem__link btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h5><span class="" id="displayname"></span>
                        <a href="/logout" class="badge badge-secondary">Logout</a>
                    </h5>
                </a>
            </div>
        </div>
    </div>
</header>
{{end}}