{{define "sidebar"}}
<div class="sidebar-header">
    <h3>Steel Platform</h3>
</div>

<ul class="list-unstyled components">
    <p>Menu</p>
    <li class="active">
        <a href="#networkSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Network</a>
        <ul class="collapse list-unstyled" id="networkSubmenu">
            <li>
                <a href="/networkInfo">My channels and contracts</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#auctionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Auctions</a>
        <ul class="collapse list-unstyled" id="auctionSubmenu">
            <li>
                <a href="/auctions">Auctions</a>
            </li>
            <li>
                <a href="/auctions/bid">Place a Bid</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#orderSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Logistics</a>
        <ul class="collapse list-unstyled" id="orderSubmenu">
            <li>
                <a href="/orders/active">My current Orders</a>
            </li>
            <li>
                <a href="/orders/historic">Past Orders</a>
            </li>
        </ul>
    </li>
</ul>

<ul class="list-unstyled CTAs">
    <li>
        <a href="#" class="article">
            <img src="/images/reymom.png" style="width:50px;margin-right:10%;">About the autor
        </a>
    </li>
</ul>
{{end}}