{{define "sidebar"}}
<div class="sidebar-header">
    <h3><a href="/home">Steel Platform</a></h3>
</div>

<ul class="list-unstyled components">
    <p>Menu</p>
    <li class="active">
        <a href="#networkSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Network</a>
        <ul class="collapse list-unstyled" id="networkSubmenu">
            <li>
                <a href="/networkInfo">My channels and contracts</a>
            </li>
        </ul>
    </li>
    {{if ne orgType "logistics"}}
    <li>
        <a href="#auctionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Auctions</a>
        <ul class="collapse list-unstyled" id="auctionSubmenu">
                <li>
                    <a href="/auctions/list">{{if eq orgType "supplier"}}My{{else}}Available{{end}} Auctions</a>
                </li>
            {{if eq orgType "supplier"}}
                <li>
                    <a href="/auctions/create">Create New Auction</a>
                </li>
            {{end}}
        </ul>
    </li>
    {{end}}
    <li>
        <a href="#deliverySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Logistics</a>
        <ul class="collapse list-unstyled" id="deliverySubmenu">
            <li>
                <a href="/delivery/list">My current Delieries</a>
            </li>
            <li>
                <a href="/delivery/historic/list">Past Delieries</a>
            </li>
        </ul>
    </li>
</ul>

<ul class="list-unstyled CTAs">
    <li>
        <a href="#" class="article">
            <img src="/images/reymom.png" style="width:50px;margin-right:10%;">About the autor
        </a>
    </li>
</ul>
{{end}}